.main{
    height:80vh;
    /* width:100%; */
    background-image: url("bg.jpg");
    position:relative
}
.box{
    height:80vh;
    width:100%;
    background-position:center center;
    /* background-size:max(1000px,100vw); */
    background-color:black;
    opacity: 0.5;
    /* yedi opacity nadine ho bhane purai black dekhinxa . */
    position:absolute;
    top:0px;
}
nav{
    /* background-color:white; */
    display:flex;
    width:60vw;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    height:66px;

}
/* nav img {   } yesari lekhyo vane yesko effect chai nav ko img ma hunxa hai nav ma haina. */
nav img{
color:red;
position:relative;
z-index:10;
width:120px;

}
nav button{
    position:relative;
    z-index:10; 
}