h2{
    color:red;
    background-color: yellow;
}
#nochange{
    color:black;
    background-color:bisque;
    text-decoration: underline;
}
button{
    font-family: 'Times New Roman', Times, serif;
    color:aqua;
    font-size: medium;
    text-transform: uppercase;
    background-color: brown;
    border-color: black;
    border-radius: 50%;

}
div{
    height:300px;
    width:300px;
    background-color:aqua;
}
.newprop{
    background-color:blue;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}